<div class="modal fade bs-example-modal-lg" id="add-post-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label for="post-title">Post title:</label>
          <input class="form-control" type="text" id="post-title" placeholder="Enter post title..." [(ngModel)]="postTitle"/>
        </div>

        <div class="form-group">
          <label for="chatroom">Post content:</label>
          <input class="form-control" type="text" id="chatroom" placeholder="Enter post content..." [(ngModel)]="postContent"/>
        </div>

        <div>
          <label for="post-dropdown">Choose project:</label><br>
          <div class="btn-group" id="post-dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{dropodownTitle}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" *ngFor="let pr of projects">
              <li (click)="setSelectedProject(pr)"><a>{{pr.name}}</a></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addPost()">Add post</button>
      </div>
    </div>
  </div>
</div>
