<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading" class="project-wrapper">

  <div class="projects" *ngFor="let userProjects of userProjects">
    <!--<a style="cursor: pointer;" data-target="#project-details" data-toggle="modal" (click)="setProject(userProjects)" (mouseover)="showDetails(userProjects.project.id)" (mouseout)="removeDetails()">-->
      <!--&lt;!&ndash;<div *ngIf="details || (!details && overProjectId != userProjects.project.id)">&ndash;&gt;-->
        <!--&lt;!&ndash;<img align="middle" style="max-width: 100%; max-height: 100%; margin: auto;" [src]="userProjects.project.projectPictures[0].link">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div *ngIf="details && overProjectId == userProjects.project.id">&ndash;&gt;-->
        <!--&lt;!&ndash;<img align="middle" style="max-width: 100%; max-height: 100%; margin: auto;" [src]="userProjects.project.projectPictures[0].link">&ndash;&gt;-->
        <!--&lt;!&ndash;<p style="position: absolute;">{{userProjects.project.description}}</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</a>-->
    <a style="cursor: pointer;" data-target="#project-details" data-toggle="modal" (click)="setProject(userProjects)">
      <img align="middle" style="max-width: 100%; max-height: 100%; margin: auto;" [src]="userProjects.project.projectPictures[0].link">
    </a>
  </div>

  <div style="clear: both;"></div>
</div>

<app-project-details [userProject]="selectedProject"></app-project-details>
