.project-wrapper{
  width: 100%;
  min-height: 650px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.projects{
  float: left;
  width: 280px;
  height: 180px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid #eee;
}

