<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading" class="project-wrapper">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div>
        <h3 class="panel-title project-panel-title">Projects</h3>
        <button class="btn btn-default" (click)="openAddProject()">Add new project</button>
      </div>
    </div>
    <div class="panel-body">
      <div *ngIf="myProjects.length != 0">
        <div class="projects" *ngFor="let project of myProjects">
          <a style="cursor: pointer;" [routerLink]="['/my-project-details', project.id]">
            <img align="middle" style="max-width: 100%; max-height: 100%; margin: auto;" [src]="project.projectPictures[0].link">
          </a>
        </div>
      </div>
      <div *ngIf="myProjects.length == 0">
        <p>You have no projects yes!</p>
      </div>
    </div>
  </div>
  <div style="clear: both;"></div>
</div>

