.project-wrapper{
  margin: auto;
  max-width: 1200px;
  min-height: 650px;
  margin-top: 20px;
}

.projects{
  float: left;
  width: 280px;
  height: 180px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid #eee;
}

.project-panel-title{
  width: 85%;
  float: left;
  font-size: 20px;
  margin-top: 4px;
}
