<!--Header-->
<div class="header" id="home">
  <!--Top-Bar-->
  <div class="top-bar">
    <div class="container-fluid">
      <div class="header-nav">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" [routerLink]="['/projects']">Find <span>Designers</span></a></h1>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <nav style="margin-top: 10px;" class="cl-effect-15" id="cl-effect-15">
              <ul>
                <li><a routerLink="/projects" data-hover="Projects">Projects</a></li>
                <li><a [routerLink]="['/posts']" class="scroll" data-hover="Posts">Posts</a></li>
                <li><a [routerLink]="['/about']" class="scroll" data-hover="About">About</a></li>
                <li *ngIf="loggedUser == null"><a style="cursor: pointer;" data-target="#loginModal" data-toggle="modal" class="scroll" data-hover="Login">Login</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" *ngIf="loggedUser != null">{{loggedUser.name}}<b class="caret"></b></a>
                  <ul class="dropdown-menu multi-column multi-column1 user-dropdown">
                    <div class="row">
                      <ul class="multi-column-dropdown">
                        <li><a class="list" [routerLink]="['/my-profile']">Profile</a></li>
                        <li><a class="list" [routerLink]="['/my-projects']">Projects</a></li>
                        <li><a class="list" [routerLink]="['/my-messages']">Messages</a></li>
                        <li><a class="list" (click)="logout()">Logout</a></li>
                      </ul>

                      <div class="clearfix"> </div>
                    </div>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </nav>
        <div class="w3ls_search" *ngIf="isProjectsOpen">
          <div class="cd-main-header">
            <ul class="cd-header-buttons">
              <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
            </ul> <!-- cd-header-buttons -->
          </div>
          <div id="cd-search" class="cd-search">
            <form action="#" method="post">
              <input name="Search" type="text" #term placeholder="Search projects..." (keyup)="searchProjects(term.value)">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//Top-Bar-->
</div>
<hr>
<!--//Header-->

<app-login (c)="goTo($event)"></app-login>

<app-register (c)="goTo($event)"></app-register>
