<div style="overflow-y: scroll;" class="modal fade bs-example-modal-lg" id="add-new-message" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-body">
        <div class="form-group">
          <label for="messageTitle">Message title:</label>
          <input class="form-control" id="messageTitle" [(ngModel)]="messageTitle" placeholder="Enter message title..."/>
        </div>

        <div class="form-group">
          <label for="message">Message:</label>
          <textarea class="form-control" rows="5" id="message" [(ngModel)]="message" placeholder="Enter message..."></textarea>
        </div>

        <button class="btn btn-warning" data-dismiss="modal" (click)="cleanMessage()">Abort</button>
        <button class="btn btn-success" data-dismiss="modal" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
