<div class="my-wrapper">
  <div class="container" style="width: 27%; float: left;">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> Message list
        </div>
        <div class="panel-collapse">
          <div class="panel-body" style="min-height: 600px;">
            <div *ngIf="displayMessages.length != 0">
              <div class="list-group" *ngFor="let dm of displayMessages">
                <a class="list-group-item" (click)="setSelectedChat(dm.chatroomId)">{{dm.chatroomName}}</a>
              </div>
            </div>
            <div *ngIf="displayMessages.length == 0">
              <p>You do not have any messages yet!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="width: 70%; float:left; margin-left: 10px; min-height: 600px;">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-comment"></span> Chat
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div *ngIf="!isSelected">
              <p>Please select one chat!</p>
            </div>

            <div *ngIf="isSelected">
              <ul class="chat" *ngFor="let message of messages">
                <li class="left clearfix" *ngIf="message.sender.id != loggedUser.id" style="min-height: 72px;">
                  <span class="chat-img pull-left">
                    <img [src]="message.sender.userPicture" alt="Sender user" class="img-circle chat-image"/>
                  </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <strong class="primary-font">{{message.sender.name + ' ' + message.sender.surname}}</strong>
                      <small class="pull-right text-muted">
                        <span class="glyphicon glyphicon-time"></span>{{message.createdAt | date: 'medium'}}
                      </small>
                    </div>
                    <p>
                      {{message.message}}
                    </p>
                  </div>
                </li>
                <li *ngIf="message.sender.id == loggedUser.id" class="right clearfix" style="min-height: 72px;"><span class="chat-img pull-right">
                            <img [src]="message.sender.userPicture" alt="Logged user" class="img-circle chat-image"/>
                        </span>
                  <div class="chat-body clearfix">
                    <div class="header">
                      <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{message.createdAt | date: 'medium'}}</small>
                      <strong class="pull-right primary-font">{{message.sender.name + ' ' + message.sender.surname}}</strong>
                    </div>
                    <p>
                      {{message.message}}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-footer">
            <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-sm"
                     placeholder="Type your message here..."
                     [(ngModel)]="message"/>
              <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessage()">Send</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
