.my-wrapper{
  min-height: 700px;
  max-width: 1200px;
  margin: auto;
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;
}

.panel-body
{
  overflow-y: scroll;
  height: 550px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.chat-list{
  width: 100%;
}

.chat-list-item{
  border: 1px solid black;
}

.chat-list-item:hover{
  background-color: grey;
}

.chat-list-item:visited{
  background-color: grey;
}

.chat-list-item:active{
  background-color: grey;
}

.chat-image{
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
}
