<div style="overflow-y: scroll;" class="modal fade bs-example-modal-lg" id="project-details" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="userProject != null">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="my-modal-header">
        <button style="margin-right: 10px; margin-top: 10px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
        <p>{{userProject.project.name}}</p>
      </div>

      <div class="modal-body">
        <div class="picture-wrapper">
          <carousel style="width: 100%;height: 300px;">
            <slide *ngFor="let pp of userProject.project.projectPictures" style="max-height: 300px;">
              <img style="border-radius: 5px; max-height: 100%; max-width: 100%;" [src]="pp.link">
            </slide>
          </carousel>
        </div>

        <div class="user-info panel panel-default">
          <div class="user-profile">
            <img style="border-radius: 50%;height: 75px; width: 80px;" [src]="userProject.user.userPicture">
            <h3>{{userProject.user.name + ' ' + userProject.user.surname}}</h3>

            <div *ngIf="loggedUser != null && loggedUser.id != userProject.user.id">
              <a style="cursor: pointer;" data-target="#add-new-message"
                 data-toggle="modal" data-dismiss="modal" (click)="setRecieverId(userProject.user)">
                <button class="btn contact-button">Contact user</button>
              </a>
            </div>

            <button *ngIf="loggedUser == null" type="button" data-toggle="tooltip" data-placement="top" title="You must be logged in!" class="btn contact-button">Contact user</button>

            <a [routerLink]="['/user-profile', userProject.user.id]">
              <button class="btn" data-dismiss="modal">View user profile</button>
            </a>
          </div>
        </div>

        <div class="clear"></div>

        <hr style="margin-top: 30px; margin-bottom: 10px;">

        <div>
          <p style="text-align: center;">{{userProject.project.description}}</p>
        </div>
        <hr>

        <div class="project-reviews" *ngIf="userProject.project.reviews.length != 0">
          <div class="chat-body clearfix my-chat-style" *ngFor="let review of userProject.project.reviews">
            <span class="chat-img pull-left">
              <img [src]="review.user.userPicture" class="img-circle pr-details-img"/>
            </span>
            <div class="header">
              <strong class="primary-font" style="margin-left: 20px;">{{review.user.name + " " + review.user.surname}}</strong> <small class="pull-right text-muted">
              <span class="glyphicon glyphicon-time"></span>{{review.dateCreated | date: 'medium'}}</small>
            </div>
            <p style="margin-left: 100px;">
              {{review.review}}
            </p>
          </div>
        </div>

        <div class="project-reviews" style="text-align: center;" *ngIf="userProject.project.reviews.length == 0">
          <p>There are no comments for this project!</p>
          <p>Be the the first one and comment!</p>
        </div>

        <div class="clear"></div>
        <hr style="margin-top: 30px; margin-bottom: 10px;">

        <div class="my-review">
          <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" [(ngModel)]="myReview"></textarea>
            <button class="btn addReview-button" [disabled]="loggedUser == null" (click)="addReview()">Add Review</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-add-new-messages [reciever]="reciever"></app-add-new-messages>
