.my-modal-header{
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-size: 15px;
  margin-left: 10px;
}

.picture-wrapper{
  float: left;
  width: 60%;
  height: 300px;
}

.user-info{
  margin: auto;
  margin-left: 25px;
  margin-top: 10px;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
  width: 36%;
  height: 300px;
}

.user-profile{
  width: 50%;
  margin: auto;
  text-align: center;
}

.clear{
  clear: both;
}

.project-reviews{
  margin-top: 20px;
  width: 100%;
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.my-chat-style{
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
}

.contact-button{
  margin-bottom: 20px;
  background-color: #777;
  color: white;
}

.my-review{
  width: 80%;
}

.addReview-button{
  margin-top: 10px;
  margin-left: 600px;
}

.pr-details-img{
  min-width: 65px;
  min-height: 65px;
  max-width: 65px;
  max-height: 65px;
}
