<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading" class="my-wrapper">
  <div style="float: right;" *ngIf="loggedUser != null">
    <a style="cursor: pointer;" data-target="#add-post-modal" data-toggle="modal">
      <button class="btn btn-default">Add Post</button>
    </a>
  </div>
  <div class="project-reviews" *ngIf="userPosts.length != 0">
    <div class="chat-body clearfix my-chat-style" *ngFor="let up of userPosts">
      <a style="cursor: pointer;" data-target="#project-details" data-toggle="modal" (click)="setProjectById(up.post.projectId)">
      <div>
        <span class="chat-img pull-left" style="width:8%;">
          <img [src]="up.user.userPicture" class="img-circle post-user-pic" />
        </span>
        <div class="header">
          <strong class="primary-font" style="margin-left: 20px;">{{up.post.title}}</strong> <small class="pull-right text-muted">
          <span class="glyphicon glyphicon-time"></span>{{up.post.dateCreated | date: 'medium'}}</small>
        </div>
        <p style="margin-left: 100px;">
          {{up.post.text}}
        </p>
      </div>
      </a>
    </div>
  </div>
</div>


<app-project-details [userProject]="selectedProject"></app-project-details>


<app-add-post-modal></app-add-post-modal>
