.my-wrapper{
  min-height: 600px;
  max-width: 1200px;
  margin: auto;
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 0;
  color: #777777;
}

.my-chat-style{
  width: 80%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
}

.post-user-pic{
  min-width: 60px;
  min-height: 55px;
  max-height: 55px;
  max-width: 60px;
}
