<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading">
  <app-header></app-header>
</div>

<router-outlet></router-outlet>

<div *ngIf="!isLoading">
  <app-footer></app-footer>
</div>
