<div class="single-info my-wrapper">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile</h3>
    </div>

    <div *ngIf="isUploading">
      <app-spinner></app-spinner>
    </div>

    <div *ngIf="!isUploading" class="panel-body">
      <div class="col-md-4 wow fadeInLeft animated" data-wow-delay=".5s">
        <h3 style="text-align: center;">{{user.name}} {{user.surname}}</h3>

        <img *ngIf="user.userPicture != null" [src]="user.userPicture" style="width: 100%;">
        <img *ngIf="user.userPicture == null" src="./assets/images/no-picture-yet.jpg"style="width: 100%;">

        <div class="add-info">
          <div class="email-phone"><i class="fa fa-envelope" style="color: #ee4f4f"></i> {{user.email}}</div>
          <div class="clearfix"></div>
          <div class="email-phone" *ngIf="user.dateCreated != null"><i class="fa fa-calendar" style="color: #ee4f4f;"></i> {{user.dateCreated | date: 'medium'}}</div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="col-md-8 simpleCart_shelfItem wow fadeInRight animated" data-wow-delay=".5s" style="width: 60%;">
          <div class="form-group">
            <label for="Name">Name</label>
            <input class="form-control" id="Name" [placeholder]="user.name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="LastName">Surname</label>
            <input class="form-control" id="LastName" [placeholder]="user.surname" [(ngModel)]="user.surname" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="ConfirmPassword">Repeat password</label>
            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Repeat password" [(ngModel)]="repeatPassword" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Choose picture</label>
            <input type="file" id="exampleInputFile" accept=".jpeg,.jpg,.png" (change)="fileChanged($event)">
          </div>

          <button type="submit" class="btn btn-default" (click)="updateUser()">
            <i class="fa fa-save" aria-hidden="true" style="margin-right: 10px;" ></i>
            Update user
          </button>
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
