<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content my-login-form">
      <div class="my-modal-header">
        <button style="margin-right: 10px; margin-top: 10px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
        <h4>Find <span style="color: #ee4f4f;">Designers</span> Login</h4>
      </div>
      <div class="modal-body">
        <app-spinner *ngIf="isLoading"></app-spinner>

        <div class="info-part">
          <h2 style="text-align: center;">Still not user of Find Designers web application?</h2>
          <button (click)="goToRegister()" class="btn btn-lg btn-block">Register</button>
        </div>
        <div class="login-part">
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <h2 class="form-signin-heading">Login info</h2>
              <label for="email">Email</label>
              <input type="text"
                     class="form-control"
                     id="email"
                     formControlName="email"
                     placeholder="Enter email address..."/>
              <p *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter valid email address!</p>

              <label for="password">Password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     formControlName="password"
                     placeholder="Enter password..."/>
              <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter password!</span>
              <span *ngIf="hasError">You entered wrong email or password!</span>

              <button class="btn btn-lg btn-block login-button-style" type="submit">Login</button>
              <p *ngIf="!loginForm.valid && loginForm.touched">Please enter all data!</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
