.my-wrapper{
  min-height: 600px;
  max-width: 1200px;
  margin: auto;
}

.picture-outer-wrapper{
  margin: auto;
  width: 550px;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid #d4d4d4;
}

.picture-inner-wrapper{
  width: 400px;
  height: 250px;
  position: relative;
}

.remove-picture{
  position: absolute;
  margin-left: 410px;
}
