<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading" class="my-wrapper">
  <h4 style="text-align: center;">{{project.name}}</h4>
  <p style="text-align: left; width: 600px; margin: auto;"><strong>Date created: </strong>{{project.dateCreated | date: 'medium'}}</p>

  <div class="picture-outer-wrapper" style="margin-top: 20px;">
    <div class="picture-inner-wrapper" *ngFor="let picture of project.projectPictures">
      <div>
        <i class="fa fa-2x fa-minus remove-picture" style="color:red; cursor: pointer;" (click)="removeOldPicture(picture)"></i>
        <img [src]="picture.link" style="width: 100%; height: 100%;">
      </div>
    </div>
    <div class="picture-inner-wrapper" *ngFor="let picture of newProjectPictures">
      <div>
        <i class="fa fa-2x fa-minus remove-picture" style="color:red; cursor: pointer;" (click)="removeNewPicture(picture)"></i>
        <img [src]="picture" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <div style="width: 600px; margin: auto;">
    <div class="form-group" style="margin-top: 30px;">
      <label for="exampleInputFile">Choose pictures</label>
      <input type="file" id="exampleInputFile" accept=".jpeg,.jpg,.png" (change)="addNewPicture($event)">
      <button class="btn btn-default" style="margin-top: 10px;" (click)="savePictures()" [disabled]="fileToUpload.length == 0">Save picture</button>
    </div>

    <div>
      <div class="form-group">
        <label for="project-name">Project Name</label>
        <input class="form-control" id="project-name" [placeholder]="project.name" [(ngModel)]="project.name" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="project-description">Project Description</label>
        <textarea type="text" class="form-control" id="project-description" [placeholder]="project.description" [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <div>
        <label for="projectType-dropdown">Choose project type:</label><br>
        <div class="btn-group" id="projectType-dropdown">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{project.projectType.name}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" *ngFor="let pr of projectTypes">
            <li (click)="setNewProjectType(pr)"><a>{{pr.name}}</a></li>
          </ul>
        </div>
      </div>


      <div style="margin-top: 10px;">
        <button [hidden]="project.enabled" class="btn btn-success" (click)="changeEnableDisable()">Activate project</button>
        <button [hidden]="!project.enabled" class="btn btn-danger" (click)="changeEnableDisable()">Deactivate project</button>
      </div>

      <div style="margin-top: 20px; margin-bottom: 20px;">
        <button class="btn btn-danger" (click)="goBackToMyProjects()">Cancel</button>
        <button class="btn btn-success" (click)="updateProject()">Save</button>
      </div>
    </div>
  </div>


</div>
