<!--footer-->
<div class="footer">
  <div class="footer-content-agile">
    <div class="col-md-3 links-w3layouts">
      <h4>Our links</h4>
      <ul>
        <li><a class="scroll active" [routerLink]="['/projects']"><span>Projects</span></a></li>
        <li><a class="scroll" [routerLink]="['/posts']"><span>Posts</span></a></li>
        <li><a class="scroll" [routerLink]="['/about']"><span>About</span></a></li>
        <li><a style="cursor: pointer;" data-target="#loginModal" data-toggle="modal" class="scroll"><span>Login</span></a></li>
      </ul>
    </div>

    <div class="col-md-5 news-letter-agileits-w3layouts">
      <h4>newsletter</h4>
      <p>signup for our weekly newsletter and get the latest updates</p>
      <form action="#" method="post">
        <input type="email" name="Email" placeholder="Enter your Email" required="" />
        <input type="submit" value="Subscribe" />
      </form>
    </div>

    <div class="col-md-3 footer-social-icons-agileinfo">
      <h4>Social media</h4>
      <ul>
        <li><a [routerLink]="['/projects']"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>Facebook</a></li>
        <li><a [routerLink]="['/projects']"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span>Google Plus</a></li>
        <li><a [routerLink]="['/projects']"><span><i class="fa fa-twitter" aria-hidden="true"></i></span>Twitter</a></li>
        <li><a [routerLink]="['/projects']"><span><i class="fa fa-pinterest-p" aria-hidden="true"></i></span>Pinterest</a></li>
      </ul>
    </div>
    <div class="clearfix"> </div>
    <div class="copy">
      <p>© 2017 Find Designers . All Rights Reserved | Design by Domagoj Pucar</p>
    </div>
  </div>
</div>
<!--/footer -->


<app-login (c)="goTo($event)"></app-login>

<app-register (c)="goTo($event)"></app-register>
