.add-project-wrapper{
  margin: auto;
  max-width: 1200px;
  min-height: 650px;
  margin-top: 20px;
}

.wizard-step{
  min-height: 300px;
  margin: auto;
  margin-top: 50px;
  width: 80%;
}

.picture-outer-wrapper{
  margin: auto;
  width: 550px;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid #d4d4d4;
}

.picture-inner-wrapper{
  width: 400px;
  height: 250px;
  position: relative;
}

.remove-picture{
  position: absolute;
  margin-left: 410px;
}
