<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div class="add-project-wrapper" *ngIf="!isLoading">
  <div class="panel panel-default">
    <div class="panel-body">
      <form-wizard>

        <wizard-step [title]="'Add Project Details'">
          <div class="wizard-step">
            <div class="form-group">
              <label for="project-name">Project Name</label>
              <input class="form-control" id="project-name" [(ngModel)]="projectName" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
              <label for="project-description">Project Description</label>
              <textarea type="text" class="form-control" id="project-description" [(ngModel)]="projectDescritpion" [ngModelOptions]="{standalone: true}"></textarea>
            </div>

            <div>
              <label for="projectType-dropdown">Choose project type:</label><br>
              <div class="btn-group" id="projectType-dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  {{defaultProjectTypeMessage}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" *ngFor="let pr of projectTypes">
                  <li (click)="setNewProjectType(pr)"><a>{{pr.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>

        </wizard-step>

        <wizard-step [title]="'Add Project Pictures'" (onComplete)="createProject($event)">
          <div class="wizard-step">
            <div class="picture-outer-wrapper" style="margin-top: 20px;">
              <div *ngIf="projectPictures.length != 0">
                <div class="picture-inner-wrapper" *ngFor="let picture of projectPictures">
                  <div>
                    <i class="fa fa-2x fa-minus remove-picture" style="color:red; cursor: pointer;" (click)="removePicture(picture)"></i>
                    <img [src]="picture" style="width: 100%; height: 100%;">
                  </div>
                </div>
              </div>
              <div *ngIf="projectPictures.length == 0">
                <img src="./assets/images/no-picture-yet.jpg"style="width: 100%;">
              </div>
            </div>

            <div class="form-group" style="margin-top: 30px;">
              <label for="exampleInputFile">Choose pictures</label>
              <input type="file" id="exampleInputFile" accept=".jpeg,.jpg,.png" (change)="addNewPicture($event)">
              <button class="btn btn-default" style="margin-top: 10px;" (click)="savePictures()" [disabled]="fileToUpload.length == 0">Save picture</button>
            </div>
          </div>
        </wizard-step>
      </form-wizard>
    </div>
  </div>
</div>





