.my-register-form{
  width: 500px;
  margin: auto;
}

.info-part{
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.form-register {
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-register-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 5px;

    &:focus {
      z-index: 2;
    }
  }
}

.login-button-style{
  color: #ee4f4f;
  background-color: #0b0b0b;
  font-size: 20px;
}
