<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content my-register-form">
      <div class="my-modal-header">
        <button style="margin-right: 10px; margin-top: 10px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close" aria-hidden="true"></i></button>
        <h4>Find <span style="color: #ee4f4f;">Designers</span> Register</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="isLoading">
          <app-spinner></app-spinner>
        </div>

        <div class="info-part">
          <h2 style="text-align: center;">I have an account!</h2>
          <button (click)="goToLogin()" class="btn btn-lg btn-block">Login</button>
        </div>
        <div class="register-part">
          <form class="form-register" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
              <h2 class="form-register-heading">Register info</h2>
              <label for="name">Name</label>
              <input type="text"
                     class="form-control"
                     id="name"
                     formControlName="name"
                     placeholder="Enter your name..."/>
              <p *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched">Please enter name!</p>

              <label for="surname">Surname</label>
              <input type="text"
                     class="form-control"
                     id="surname"
                     formControlName="surname"
                     placeholder="Enter your surname..."/>
              <p *ngIf="!registerForm.get('surname').valid && registerForm.get('surname').touched">Please enter surname!</p>

              <label for="email">Email</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     formControlName="email"
                     placeholder="Enter email address..."/>
              <p *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">Please enter valid email address!</p>

              <label for="password">Password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     formControlName="password"
                     placeholder="Enter password..."/>
              <p *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Please enter password!</p>

              <label for="repeatPassword">Repeat Password</label>
              <input type="password"
                     class="form-control"
                     id="repeatPassword"
                     formControlName="repeatPassword"
                     placeholder="Repeat password..."/>
              <p *ngIf="!registerForm.get('repeatPassword').valid && registerForm.get('repeatPassword').touched">Please repeat password!</p>
              <!--<p *ngIf="registerForm.get('repeatPassword').errors['notSamePasswords']">Passwords are not the same! Please repeat your password correctly!</p>-->

              <div class="radio" *ngFor="let type of userTypes">
                <label>
                  <input
                    type="radio"
                    formControlName="type"
                    [value]="type">{{type}}
                </label>
              </div>

              <button class="btn btn-lg btn-block login-button-style" type="submit" [disabled]="isLoading">Register</button>
              <p *ngIf="!registerForm.valid && registerForm.touched">Please enter all data!</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
