<div *ngIf="isLoading">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!isLoading" class="my-wrapper">
  <div class="user-projects">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Projects</h3>
      </div>
      <div class="panel-body">
        <div class="projects" *ngFor="let up of userProjects">
          <a style="cursor: pointer;" data-target="#project-details" data-toggle="modal" (click)="setProject(up)">
            <img align="middle" style="max-width: 100%; max-height: 100%; margin: auto;" [src]="up.project.projectPictures[0].link">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-project-details [userProject]="selectedProject"></app-project-details>
