.my-wrapper{
  min-height: 600px;
  max-width: 1200px;
  margin: auto;
}

.projects{
  float: left;
  width: 280px;
  height: 180px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid #eee;
}
